<!DOCTYPE html>
<html>
    <head>
        <title>코드 그룹 관리</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tblList > tbody > tr").dblclick(function () {
                    
                    let _this = $(this);
                    
                    location.href = "/sys/cdGrpDtl?procDiv=U&CD_GRP=" + _this.attr("keyVal");
                });
            });
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
      <div class="container">
        <div class="mr30"></div>
        <h1>코드 그룹 관리</h1>
            <div class="col-sm text-right">
                <button type="button" class="btn btn-success" onclick="location.href='/sys/cdGrpDtl?procDiv=C'" >신규등록</button>
            </div>
            <div class="mr20"></div>
            <div class="col-sm">
                <table class="table table-bordered" id="tblList">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">코드그룹</th>
                            <th scope="col">그룹명</th>
                            <th scope="col">상위그룹</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (list.length == 0) { %>
                        <tr>
                            <td class="text-center" colspan="5" scope="row">검색 결과가 없습니다</td>
                        </tr>
                        <% } else {
                            for (let idx = 0, _max = list.length ; idx < _max ; idx ++) {
                                let row = list[idx]; %>
                        <tr style="cursor:pointer;" keyVal="<%= row["CD_GRP"] %>">
                            <th scope="row" class="text-center"><%= idx + 1 %></th>
                            <td><%= row["CD_GRP"] %></td>
                            <td><%= row["CD_GRP_NM"] %></td>
                            <td><%= row["HIGH_GRP"] %></td>
                            <td><button type="button" class="btn btn-success" onclick="location.href='/sys/cdMngt?CD_GRP=<%=row["CD_GRP"] %>'">코드 관리</button></td>
                        </tr>
                        <% } 
                        } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

<% include sys/inc/_footer %>
</body>
</html>