<!DOCTYPE html>
<html>
    <head>
        <title>재능판매</title>
        <% include sys/inc/_jscss %>
        <% include com/inc/_starRating %>
        <script type="text/javascript">
            $(document).ready(function() {
                
                $("#btnPay").click(function () {
                    
                    document.location.href = "/pay/payMst?prodNo=1112344";
                    
                });
                
            });
            
            function chgImg(attcFileSeq) {
                $("#mainImg").attr("src", "/imgView/" + attcFileSeq);
            }
            
            function chgCnt(cnt) {
                let _this = $(cnt);
                
                if (_this.val() <= -1) {
                    _this.val(0);
                }
                
                let row = _this.parent().parent();
                let uprc = row.find("input[name='GODS_UPRC']").val() * 1;
                
                row.find("input[name='GODS_SUM']").val((_this.val() * uprc));
                
                calcTotSum();
            }
            
            function calcTotSum() {
                
                let sum = 0;
                
                $("input[name='GODS_SUM']").each(function () {
                    
                    sum += (this.value * 1);
                    
                });
                
                $("#GODS_TOT_SUM").val(sum);
            }
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr30"></div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#m1">개요</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#m2">상품설명</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#m3">상세설명</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#m4">A/S</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#m5">리뷰/후기</a>
                    </li>
                </ul>
            </nav>
            <div class="mr30"></div>
            <div class="row">
                <div class="col-sm-8">
                    <h1 id="m1"><%= SVC_TITL %></h1>
                    <!--
                    <div class="rating display-only">
                        <input type="hidden" class="star-rating-input align-middle" value="5">
                        <% include com/inc/_starRatingSpan %>
                    </div> 
                    <span class="align-top text-secondary">(777)</span>
                    <span class="align-top text-secondary">15 Orders in Queue</span>
                    -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/sel/selMst/<%= CAT_CD %>"><%= CAT_NM %></a></li>
                        </ol>
                    </nav>
                    <% if (typeof(list2) && list2.length > 0) {
                        let fItem = list2[0];%>
                    <img src="/imgView/<%= fItem["ATTC_FILE_SEQ"] %>" width="100%" height="400px" id="mainImg" />
                    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                            <ul class="navbar-nav">
                                <% for (let idx = 0, _max = list2.length ; idx < _max ; idx ++) {
                                    let item = list2[idx]; %>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" onclick="chgImg(<%=item["ATTC_FILE_SEQ"] %>)">
                                        <img alt="Thumbnail [100%x280]" style="height: 90px; width: 160px; display: block;" src="/imgView/<%= item["ATTC_FILE_SEQ"] %>"/>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </nav>
                    <% } %>
                    <hr/>
                    <h2 id="m2">상품정보</h2>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">상품명</th>
                                <th scope="col">단가</th>
                                <th scope="col">설명</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (typeof(list) && list.length > 0) {
                                for (let idx = 0, _max = list.length ; idx < _max ; idx ++) {
                                    let item = list[idx]; %>
                            <tr>
                                <th scope="row"><%= idx + 1 %></th>
                                <td><%= item["GODS_NM"] %></td>
                                <td><%= item["GODS_UPRC"] %></td>
                                <td><%= item["GODS_DTL"] %></td>
                            </tr>
                            <% }
                            } %>
                        </tbody>
                    </table>
                </div> <!-- col -->
                <div class="col-sm-4">
                    <p class="card-text">
                    <h3>상품선택</h3>
                    </p>
                    <form class="form">
                        <% if (typeof(list) && list.length > 0) {
                            for (let idx = 0, _max = list.length ; idx < _max ; idx ++) {
                                let item = list[idx]; %>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for=""><%= item["GODS_NM"] %></label>
                                <input type="hidden" name="SVC_SEQ" value="<%= item["SVC_SEQ"] %>" />
                                <input type="hidden" name="GODS_SEQ" value="<%= item["GODS_SEQ"] %>" />
                                <input type="text" name="GODS_UPRC" class="form-control" value="<%= item["GODS_UPRC"] %>" readonly />
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="">수량</label>
                                <input type="number" name="GODS_CNT" class="form-control" value="0" onchange="chgCnt(this)" />
                            </div>
                            <div class="form-group col-md-5">
                                <label for="">계</label>
                                <input class="form-control" name="GODS_SUM" type="text" value="0" name="" readonly />
                            </div>
                        </div>
                        <% }
                        } %>
                        <div class="form-row">
                            <div class="form-group col-sm">
                                <label for="">합계</label>
                                <input type="text" class="form-control" id="GODS_TOT_SUM" value="0" readonly />
                            </div>
                        </div>
                        <p class="card-text">
                            <button type="button" class="btn btn-success" id="btnPay">구매</button>
                        </p>
                        
                    </form>
                    <p class="card-text"></p>
                </div><!--col-->
            </div><!--row-->
            <div class="row">
                <div class="col-sm">
                    <h2 id="m3">상세정보</h2>
                    <textarea readonly class="form-control" style="width: 100%" rows="20"><%= SVC_DTL %></textarea>
                    
                    <hr/>
                    <h2 id="m4">A/S</h2>
                    <textarea readonly class="form-control" style="width: 100%" rows="10"><%= SVC_AS %></textarea>
                    
                    <hr/>
                    <h2 id="m5">리뷰/후기</h2>
                    <!--
                    <div class="col-sm ">
                        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="프리랜서" width="70" height="70">
                        구매자1
                        <div class="rating display-only align-middle">
                            <input type="hidden" class="star-rating-input" value="4">
                            <% include com/inc/_starRatingSpan %>
                        </div> 
                        <div class="mr20"></div>
                        <div class="col-sm">
                            블라블라블라블라블라
                        </div>
                    </div>
                    -->
                </div>
            </div><!--row-->
            
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>