<!DOCTYPE html>
<html>
    <head>
        <title>재능판매</title>
        <% include sys/inc/_jscss %>
        <% include com/inc/_starRating %>
        <script type="text/javascript">
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

<% include com/inc/_navCat %>

<% include com/inc/_ad1 %>

    <!-- Begin page content -->
    <main role="main">
      <div class="container">
        <div class="mr30"></div>
        <h1><%= cat["catNm"] %></h1>

        <div class="row">
            <div class="col-sm-2">
                <div class="mr50"></div>
                <form>
                    <div class="form-group">
                        <label for="">언어</label>
                        <select class="form-control" id="" name="">
                          <option>한국어</option>
                          <option>영어</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">가격</label>
                        <input type="number" class="form-control" id="" name="" placeholder="가격">
                    </div>
                </form>
            </div>
            <div class="col-sm-10 text-center">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">등록일순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">리뷰순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">가격순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">별점순</a>
                    </li>
                </ul>
                <div class="row text-left">
                    <% if (!list || list.length <= 0) { %>
                    <div class="col-sm">
                        <h3>검색 결과가 없습니다</h3>
                    </div>
                    <% } else {
                        
                        for (let idx = 0, _max = list.length ; idx < _max ; idx ++) {
                            let item = list[idx];
                            
                            let imgSrc = "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==";
                            
                            if (item["ATTC_FILE_SEQ"] && item["ATTC_FILE_SEQ"] != "") {
                                imgSrc = "/imgView/" + item["ATTC_FILE_SEQ"];
                            }
                            
                            let prfSrc = "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==";
                            
                            if (item["PRFL_FILE_SEQ"] && item["PRFL_FILE_SEQ"] != "") {
                                prfSrc = "/imgView/" + item["PRFL_FILE_SEQ"];
                            }
                            
                        %>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm">
                                <a href="/sel/selDtl/<%= item["SVC_SEQ"] %>">
                                <img class="Thumbnail" src="<%= imgSrc %>" width="160" height="90" alt="썸네일" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='">
                                </a>
                            </div>
                        </div>
                        <div class="mr10"></div>
                        <div class="row">
                            <div class="col-sm">
                                <img class="rounded-circle" src="<%= prfSrc %>" alt="프리랜서" width="70" height="70" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='"> <%= item["USER_NM"] %>
                            </div>
                        </div>
                        <div class="mr10"></div>
                        <div class="row">
                            <div class="col-sm">
                                <a href="/sel/selDtl/<%= item["SVC_SEQ"] %>"><%= item["SVC_TITL"] %></a>
                            </div>
                        </div>
                        <div class="mr10"></div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="rating display-only rating-xs">
                                    <input type="hidden" class="star-rating-input" value="2">
                                    <% include com/inc/_starRatingSpan %>
                                </div>
                            </div>
                            <div class="col-sm">
                                Korean
                            </div>
                        </div>
                    </div><!-- /.col-sm-3 -->
                    <% }
                    } %>
                </div><!-- /.row -->
                <div class="mr30"></div>
                <div class="row">
                    <div class="col-sm">
                        <% var navCnt = 5, href = "/svc/selMst?cat=" + catCd + "&page="; %>
                        <% include sys/inc/_page %>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </main>

<% include sys/inc/_footer %>
</body>
</html>