<!DOCTYPE html>
<html>
    <head>
        <title>판매 등록</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
        
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr20"></div>
            <nav aria-label="breadcrumb">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="fa fa-circle-o" aria-hidden="true"></i> 기본사항</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 가격설정</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 서비스설명</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 이미지</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 요청사항</li>
                        </ol>
                    </div>
                </div><!-- row -->
            </nav>
            <div class="mr30"></div>
            <form action="/sel/selReg2" method="post">
                <% 
                    let svcSeq = typeof(SVC_SEQ) == 'undefined' ? '' : SVC_SEQ;
                    let svcTitl = typeof(SVC_TITL) == 'undefined' ? '' : SVC_TITL;
                    let catCd = typeof(CAT_CD) == 'undefined' ? '' : CAT_CD;
                    let svcType = typeof(SVC_TYPE) == 'undefined' ? '' : SVC_TYPE;
                %>
                <input type="hidden" id="SVC_SEQ" name="SVC_SEQ" value="<%= svcSeq %>">
                <div class="form-group row">
                    <label for="SVC_TITL" class="col-sm-2 col-form-label">서비스 제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="SVC_TITL" name="SVC_TITL" placeholder="서비스 제목" value="<%= svcTitl %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">카테고리</label>
                    <div class="col-sm-5">
                        <label for="CAT_CD">카테고리</label>
                        <select class="form-control" id="CAT_CD" name="CAT_CD">
                            <% if (locals.catCd) {
                                for (let key in locals.catCd) {
                                    let item = locals.catCd[key];
                                    let selected = catCd == item["CD_VAL"] ? "selected" : "";
                                    %>
                            <option value="<%= item["CD_VAL"] %>" <%= selected %>><%= item["CD_NM"] %></option>
                            <% }
                            } %>

                        </select>
                    </div>
                    <div class="col-sm-5">
                        <!--<label for="cat">하위 카테고리</label>
                        <select class="form-control" id="cat" name="cat">
                            <option>하위1</option>
                            <option>하위2</option>
                        </select>-->
                    </div>
                </div>
                <div class="form-group row">
                    <label for="SVC_TYPE" class="col-sm-2 col-form-label">서비스타입</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="SVC_TYPE" name="SVC_TYPE" placeholder="서비스 타입" value="<%= svcType %>" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary">다음단계</button>
                    </div>
                </div>
            </form>
            
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>