<!DOCTYPE html>
<html>
    <head>
        <title>판매자 등록</title>
        <% include sys/inc/_jscss %>
        <script type="text/javascript">
            $(document).ready(function() {
                
                
                $("#addProd").click(function () {
                    let tbody = $("#prodPrice > tbody");
                    
                    let _tr = tbody.find("tr");
                    
                    let rows = _tr.length;
                    
                    let tr = $(_tr.get(0).outerHTML);
                    
                    tr.find("input").val("");
                    tr.children().first().html(rows + 1)
                    
                    tbody.append(tr);
                });
                
            });
            
            function _onsubmit() {
                
            }
        </script>
    </head>
<body>

<% include sys/inc/_header %>

    <!-- Begin page content -->
    <main role="main">
        <div class="container">
            <div class="mr20"></div>
            <nav aria-label="breadcrumb">
                <div class="row">
                    <div class="col-sm-11">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="fa fa-check-circle" aria-hidden="true"></i> 기본사항</li>
                            <li class="breadcrumb-item"><i class="fa fa-circle-o" aria-hidden="true"></i> 가격설정</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 서비스설명</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 이미지</li>
                            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-circle-o" aria-hidden="true"></i> 요청사항</li>
                        </ol>
                    </div>
                    <div class="col-sm-1" text-right align-middle">
                        <button type="button" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> 저장</button>
                    </div>
                </div><!-- row -->
            </nav>
            <div class="mr30"></div>
            <form action="/sel/selReg3" method="post" onsubmit="return _onsubmit()">
                <input type="hidden" id="SVC_SEQ" name="SVC_SEQ" value="<%= SVC_SEQ%>" />
                <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-info" id="addProd">상품추가</button>
                    </div>
                </div>
                <table class="table table-bordered" id="prodPrice">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">상품명</th>
                            <th scope="col">단가</th>
                            <th scope="col">설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (typeof(list) != "undefined" && list.length > 0) {
                            
                            for (let idx = 0, _max = list.length ; idx < _max ; idx++) {
                                let item = list[idx];
                            %>
                        <tr>
                            <th scope="row"><%= (idx + 1) %><input type="hidden" name="GODS_SEQ" value="<%= item["GODS_SEQ"] %>"/></th>
                            <td><input type="text" class="form-control" name="GODS_NM" value="<%= item["GODS_NM"] %>" required /></td>
                            <td><input type="number" class="form-control" name="GODS_UPRC" value="<%= item["GODS_UPRC"] %>" required /></td>
                            <td><input type="text" class="form-control" name="GODS_DTL" value="<%= item["GODS_DTL"] %>" /></td>
                        </tr>
                        <% }
                        } else { %>
                        <tr>
                            <th scope="row">1<input type="hidden" name="GODS_SEQ" value="" /></th>
                            <td><input type="text" class="form-control" name="GODS_NM" value="" required /></td>
                            <td><input type="number" class="form-control" name="GODS_UPRC" value="" required /></td>
                            <td><input type="text" class="form-control" name="GODS_DTL" value="" /></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <div class="form-group row">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-secondary" onclick="location.href='/sel/selReg1/<%= SVC_SEQ%>'">이전</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary">다음단계</button>
                    </div>
                </div>
            </form>
            
        </div> <!-- Container -->
    </main>

<% include sys/inc/_footer %>
</body>
</html>