<!DOCTYPE html>
<html>
  <head>
    <title>Check Database</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Check Database</h1>
    <p>Result [<%= result %>]</p>
    <p><%= message %></p>
    <p>HOST : <%= info['host'] %></p>
    <p>PORT : <%= info['port'] %></p>
    <p>USER : <%= info['user'] %></p>
    <p>DB : <%= info['database'] %></p>
    <p>LIMIT : <%= info['connectionLimit'] %></p>
  </body>
</html>
